My_workflow_15.json
{
  "name": "My workflow 15",
  "nodes": [
    {
      "parameters": {},
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1000,
        100
      ],
      "id": "3a0a036b-9363-41af-b42c-570271ebea39"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  niches: [\n    'AI writing assistants',\n    'voice automation',\n    'smart scheduling',\n    'AI research tools'\n  ]\n}];"
      },
      "name": "Set Niches",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -800,
        100
      ],
      "id": "d7fceef6-7d97-45a5-bfd8-ff677509f755"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "AI Productivity Tools"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -600,
        100
      ],
      "id": "180f1c05-9b6f-4d5c-bcd9-1de47b90fc9b"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a YouTube scriptwriter for a channel about AI productivity tools. Each script should be at least 1,400 words (for 10+ minutes).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a detailed, engaging, and informative script for a 10+ minute YouTube video. Topic: {{$json[\\\"topic\\\"]}}. Structure the script with an introduction, 4-6 main sections, examples, and a conclusion. Include a strong call to action at the end. Keep language simple and audience-friendly.\"\n    }\n  ]\n}",
        "headerParametersJson": "{\"Authorization\": \"Bearer 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\",\"Content-Type\": \"application/json\"}"
      },
      "name": "Generate Script (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -400,
        100
      ],
      "id": "1c076f67-2db1-4471-9717-efbfc7006e77",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1PqNAwng0597YhOa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Split script into array of paragraphs/sections for TTS and visual pairing\nconst script = $json[\"choices\"][0][\"message\"][\"content\"] || $json[\"script\"] || '';\nconst sections = script.split(/\\n\\s*\\n/).filter(s => s.trim().length > 0);\nreturn sections.map((section, i) => ({ section, index: i+1 }));"
      },
      "name": "Split Script",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ],
      "id": "eea72cd2-398d-4f2c-a527-06117bd2f6e2"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.pexels.com/v1/search",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "{\"Authorization\": \"o0TKkzFcJ9iumrZvn4AyxqAJdudIQzBmcH77TSIepNdJQWaRkpHFVxSb\"}",
        "queryParametersJson": "{\n  \"query\": \"{{$json[\\\"section\\\"]}}\",\n  \"per_page\": 1,\n  \"orientation\": \"landscape\"\n}"
      },
      "name": "Get B-roll (Pexels)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f705c030-b965-4ca8-9d8f-adff6cbd011a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QnRI5smt8xoa0TQ3",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://pixabay.com/api/",
        "jsonParameters": true,
        "options": {},
        "queryParametersJson": "{\n  \"key\": \"50150496-8b4be619419b1717076b3baca\",\n  \"q\": \"{{$json[\\\"section\\\"]}}\",\n  \"per_page\": 1,\n  \"orientation\": \"horizontal\"\n}"
      },
      "name": "Get B-roll (Pixabay)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        60,
        160
      ],
      "id": "b56c271a-466d-48dd-bcdb-8d955fb912c5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YQOX3GtU2cNC8Kiv",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/Sam/stream",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"text\": \"{{$json[\\\"section\\\"]}}\"\n}",
        "headerParametersJson": "{\"xi-api-key\": \"sk_37687d7bc8a482086b9d731b12a904741bc0b5b78a872c9e\",\"Content-Type\": \"application/json\"}"
      },
      "name": "Generate TTS (ElevenLabs)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        160,
        80
      ],
      "id": "674c2c35-a614-4db4-baf2-3959df6ca512",
      "credentials": {
        "httpHeaderAuth": {
          "id": "E8O4LhLeWtuP8cpI",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "function safeItems(name) {\n  try {\n    const arr = $items(name);\n    return Array.isArray(arr) ? arr : [];\n  } catch (e) {\n    return [];\n  }\n}\n\nconst bRollItems = safeItems(\"Get B-roll (Pexels)\");\nconst ttsItems = safeItems(\"Generate TTS (ElevenLabs)\");\nconst scriptSections = safeItems(\"Split Script\");\n\nreturn [{\n  images: bRollItems.map(i => i.json?.photos?.[0]?.src?.landscape).filter(Boolean),\n  audio: ttsItems.map(a => a.binary?.data).filter(Boolean),\n  sections: scriptSections.map(s => s.json?.section).filter(Boolean),\n}];"
      },
      "name": "Prepare Video Assets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        380,
        140
      ],
      "id": "79bdd712-0a4a-4014-b62c-9fff11578d22"
    },
    {
      "parameters": {
        "command": "ffmpeg -y -f concat -safe 0 -i images.txt -f concat -safe 0 -i audio.txt -c:v libx264 -c:a aac -pix_fmt yuv420p -shortest -vf \"fade=t=in:st=0:d=1,fade=t=out:st=9:d=1\" -r 30 output.mp4"
      },
      "name": "Create Video (ffmpeg)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "id": "19d3f9e4-9f49-45ae-85a0-cb981f4fd69e"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://pixabay.com/api/",
        "jsonParameters": true,
        "options": {},
        "queryParametersJson": "{\n  \"key\": \"50150496-8b4be619419b1717076b3baca\",\n  \"q\": \"background music\",\n  \"per_page\": 1,\n  \"category\": \"music\"\n}"
      },
      "name": "Get Music (Pixabay)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "id": "5d3a8834-3230-4837-b797-e511aa96a55a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YQOX3GtU2cNC8Kiv",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a YouTube SEO expert.\" },\n    { \"role\": \"user\", \"content\": \"Generate an SEO-optimized video title, description, and tags for a 10+ minute YouTube video about: {{$json[\\\"topic\\\"]}}. The script is: {{$json[\\\"script\\\"]}}\" }\n  ]\n}",
        "headerParametersJson": "{\"Authorization\": \"Bearer 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\",\"Content-Type\": \"application/json\"}"
      },
      "name": "Generate Metadata (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        800,
        100
      ],
      "id": "495c532f-8d2a-4f84-8b6e-b8962a2e9499",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1PqNAwng0597YhOa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "jsonParameters": true,
        "options": {},
        "queryParametersJson": "={\n  \"part\": \"snippet\",\n  \"videoId\": \"{{$json[\\\"id\\\"]}}\",\n  \"key\": \"YOUR_YOUTUBE_DATA_API_KEY\"\n}"
      },
      "name": "Get Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        100
      ],
      "id": "0d2b307a-1bd3-4591-9231-54b30f56d88e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q0ZtyC91tBMbzrZh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a helpful YouTube channel assistant.\" },\n    { \"role\": \"user\", \"content\": \"Suggest a polite, informative reply to this YouTube comment: {{ $json[\"snippet\"][\"topLevelComment\"][\"snippet\"][\"textDisplay\"] }}\" }\n  ]\n}",
        "headerParametersJson": "{\"Authorization\": \"Bearer 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\",\"Content-Type\": \"application/json\"}"
      },
      "name": "Generate Reply (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1400,
        100
      ],
      "id": "f5644c22-b5be-4b6c-8fc7-2f7e3403336d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1PqNAwng0597YhOa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://www.googleapis.com/youtube/v3/comments",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"snippet\": {\n    \"parentId\": \"={{ $json[\"id\"] }}\",\n    \"textOriginal\": \"={{ $json[\"choices\"][0][\"message\"][\"content\"] }}\"\n  }\n}",
        "headerParametersJson": "{\"Authorization\": \"Bearer YOUR_YOUTUBE_DATA_API_KEY\",\"Content-Type\": \"application/json\"}"
      },
      "name": "Post Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1600,
        100
      ],
      "id": "1400211b-ca05-41ea-be4e-74ebd1cd6e07",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q0ZtyC91tBMbzrZh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "jsonParameters": true,
        "options": {},
        "queryParametersJson": "{\n  \"part\": \"statistics,snippet\",\n  \"id\": \"={{ $json[\"id\"] }}\",\n  \"key\": \"YOUR_YOUTUBE_DATA_API_KEY\"\n}"
      },
      "name": "Get Video Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        280
      ],
      "id": "dafffef3-eb63-4444-815c-dd9bf21494e4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q0ZtyC91tBMbzrZh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "your@email.com",
        "subject": "AI Assistant Pro - Weekly YouTube Report",
        "text": "Video: {{ $json[\"snippet\"][\"title\"] }}\nViews: {{ $json[\"statistics\"][\"viewCount\"] }}\nLikes: {{ $json[\"statistics\"][\"likeCount\"] }}\nComments: {{ $json[\"statistics\"][\"commentCount\"] }}\n\nRecent Comments:\n{{ $json[\"comments\"] }}",
        "options": {}
      },
      "name": "Send Analytics Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1400,
        300
      ],
      "id": "a8fd93f2-a651-4055-9f41-7a0b2b506461"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "YouTube upload ",
        "regionCode": "US",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1020,
        100
      ],
      "id": "155d43d9-969a-4262-ae3e-14be8b6f8861",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "nRZULXXHxfrqwI7m",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Set Niches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Niches": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Generate Script (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script (OpenAI)": {
      "main": [
        [
          {
            "node": "Split Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Script": {
      "main": [
        [
          {
            "node": "Get B-roll (Pexels)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get B-roll (Pixabay)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate TTS (ElevenLabs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get B-roll (Pexels)": {
      "main": [
        [
          {
            "node": "Prepare Video Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get B-roll (Pixabay)": {
      "main": [
        [
          {
            "node": "Prepare Video Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS (ElevenLabs)": {
      "main": [
        [
          {
            "node": "Prepare Video Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Assets": {
      "main": [
        [
          {
            "node": "Create Video (ffmpeg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video (ffmpeg)": {
      "main": [
        [
          {
            "node": "Generate Metadata (OpenAI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Music (Pixabay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comments": {
      "main": [
        [
          {
            "node": "Generate Reply (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reply (OpenAI)": {
      "main": [
        [
          {
            "node": "Post Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Analytics": {
      "main": [
        [
          {
            "node": "Send Analytics Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Metadata (OpenAI)": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Music (Pixabay)": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e7ed66b3-0c12-470d-8895-1e60a6e91f4e",
  "meta": {
    "instanceId": "4c4e2f3ea33864cb2bc33b0bd6be1dc73d2428cd263c19f8dfef31e26bf519c9"
  },
  "id": "A8vSUsy5mTlKOCLO",
  "tags": []
}